---
layout: default
title: Home
---

<div class="blog-index" >
  {% assign post = site.posts.first %}
  {% assign content = post.content %}
  {% include post_detail.html %}
</div>
<hr>

<div class="home" >

  <h1 class="page-heading">Previous Posts</h1>

  <ul class="post-list">
    {% for post in site.posts offset:0 limit:3 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<div class="pager">
  <ul>
    {% if paginator.previous_page %}
      <li class="previous">
        {% if paginator.previous_page == 1 %}
        <a href="/blog.html" title="Previous Page">&laquo; Previous</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
        {% endif %}
      </li>
    {% endif %}
    <li class="next">
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
      {% endif %}
    </li>
  </ul>
</div>
