---
layout: default
---
<div class="right">
<h2>Categories:</h2>
<ul>
  {% for category in site.categories %}
  <li><a href="/blog/categories/{{category | first}}">{{category | first | capitalize }} ({{category | last | size }})</a></li>
  {% endfor %}
</ul>

<h2>Tags:</h2>
<ul>
  {% for tag in site.tags %}
  <li><a href="/blog/tags/{{tag | first}}">{{tag | first | capitalize }} ({{tag | last | size }})</a></li>
  {% endfor %}
</ul>

</div>

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

   <p class="muted">
    Tags&nbsp;
    {% for tag in page.tags %}
    <a href="/blog/tags/{{ tag }}" title="{{ tag }}" rel="tag" class="btn btn-mini">{{ tag }}</a>
    {% endfor %}
  </p>
  </header>

  <article class="post-content">
    {{ content }}

  </article>

  <div id="page-navigation" class="wrapper">
        <div class="clear">&nbsp;</div>
        <div class="left">
        {% if page.previous.url %}
                <a href="{{page.previous.url | prepend: site.baseurl }}" title="Previous Post:
{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        </div>

        <div class="right">
        {% if page.next.url %}
                <a href="{{page.next.url | prepend: site.baseurl }}" title="next Post:
{{page.next.title}}">{{page.next.title}} &raquo; </a>
        {% endif %}
        </div>
        <div class="clear">&nbsp;</div>
  </div>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'lambduhh';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
